*{
  margin: 0px;
  padding: 0px;
}
/*NAVBAR STYLES*/
.navbar-container .icono-img {
  width: 100%;
  height: auto;
  margin-top: -25px;
  max-width: 100px;
  position: absolute;
  background-color: #873636;
  border-radius: 50px;
  padding-bottom: 5px;
  padding-right: 10px;
}
.navbar-container{
background-color: #873636;
padding-top: 30px;
padding-bottom: 30px;

}
.icono-position{
padding-right: 150px;
}
.icono{
display: flex;
justify-content: space-between;
padding-left: 30px;
background-color: #873636;
}
.titulo{
font-family: "Sedan SC", serif;
font-weight: 10;
 padding-left: 10px;
 background-color: #873636;
 color: rgb(224, 224, 225);
 font-size: 27px;
}
.links-container{
display: flex;
}
.icono-container{
display: flex;
}
.links-container-li{
display: flex;
padding-right: 50px;
}
.link{
text-decoration: none;
font-size: 15px;
padding: 10px;
font-family: "Sedan SC", serif;
color: rgb(224, 224, 225);
}
.link-li{
margin-top: 10px;
list-style: none;
padding-left: 10px;
padding-right: 10px;
}
  /*SECCION INICIO*/
  .inicio-container .background-titulo2 img {
    width: 100%;
    background-size: cover;
  }
    .background-titulo2 .texto-inicio-background {
      position: absolute;
      font-family: "Sedan";
      top: 50%;
      left: 50%;
      
      transform: translate(-50%, -50%);
      color: white;
      font-size: 24px;
      text-align: center;
    }

    .background-titulo2 .texto-inicio-background h2 {
      font-weight: 100;
      border: solid #873636 5px;
      padding: 10px 30px 10px 30px;
      border-radius: 40px;
    }
/*BOTONES REDES IZQUIERDA ARRIBA*/
    .botones-redes {
      position: absolute;
      padding-top: 50px;
      margin-left: -15px;
    }
    .botones-redes .botones-redes-container .red-link .icono-redes-link{
      width: 40px;
      padding: 7px;
      margin-top: 10px;
      border-radius: 100px;
      background-color: #873636;
      margin-left: 30px;
    }

    .botones-redes2 {
      position: absolute;
      padding-top: 50px;
      padding-left: -5px;
      margin-left: -15px;
    }
    
    .botones-redes2 .botones-redes-container2 .red-link2 .icono-redes-link2 {
      width: 40px;
      padding: 8px;
      margin-top: 11px;
      border-radius: 100px;
      position: relative; 
      clip-path: polygon(100% 0, 100% 100%, 0 50%); 
      border-left: none; 
    }

    /*informacion seccion inicio*/
    .final-seccion-container {
      display: flex; 
      justify-content: space-between; 
      align-items: center; 
      position: absolute; 
      bottom: -215px; 
      left: 0;
      right: 0;
      padding: 0 20px; 
      z-index: 10; 
      
  }
  /*FINAL DE LA SECCION */
  .final-seccion {
    flex: 1; 
    text-align: center; 
    font-size: 20px;
    font-family: "Sedan SC", serif;    
    }
    .final-seccion h4 {
      font-weight:100;
      border-left: solid rgb(234, 234, 234) 8px;
    }
  
  .final-seccion-titulo-final {
      display: flex;
      align-items: center; 

  }
  .final-seccion-titulo-final .icono-img {
    width: 100px;
      margin-right: 10px; 
  }
  h4{
    color: rgb(234, 234, 234);
    text-align: center;
  }
  .final-seccion .final-seccion-redes{
    margin-top: -100px;
    margin-left: 300px;
  }
  .final-seccion .final-seccion-redes .final-seccion-redes-li{
    list-style: none;
    margin: 20px;
    padding: auto;
  }
  .final-seccion .final-seccion-redes .final-seccion-redes-li .final-seccion-redes-li-a {
    color: rgb(224, 224, 225);
    text-decoration: none;
    border: solid rgb(224, 224, 225) 3px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 100px;
  }
  .final-seccion-redes-li {
    list-style: none; 
    margin: 5px 0; 
}

.final-seccion-redes-li-a {
    display: inline-block; 
    padding: 10px 20px; 
    border: 2px solid #873636; 
    border-radius: 8px; 
    text-align: center; 
    text-decoration: none; 
    color: #505050; 
    width: 100%; 
    box-sizing: border-box; 
}

.final-seccion-redes-li-a:hover {
    background-color: #f0f0f06e; 
}
  .background-final{
    position: absolute;
    width: 100%;
    z-index: -99;
    margin-top: -100px;
    margin-left: -20px;
  }
  .final-seccion-titulo-final .final-seccion-titulo h6 {
    font-family: "Sedan SC", serif;    
    font-size: 30px;
    text-align: center;
    padding-left: 30px;
    color: rgb(224, 224, 225);
    height: 10;
    font-weight: 100;
  }
  .final-seccion-titulo-final .final-seccion-titulo p {
    font-family: "Sedan SC", serif;    
    font-size: 20px;
    padding-top: 10px;
    margin-bottom: -30px;
    text-align: center;
    padding-left: 30px;
    color: rgb(224, 224, 225);
    height: 10;
    font-weight: 100;
  }
/* Sobre nosotros seccion */

.sobre-nosotros-container {
  padding: 100px;
}
.titulo-sobre-nosotros {
  font-size: 45px;
  background-color: #873636;
  font-family: "Sedan";
  padding: 25px; 
  color: #f0f0f0;
  display: inline-block; 
  margin-left: -100px; 
  border-radius: 0px 30px 30px 0px;
  border-left: solid #873636 30px;
}

.titulo-sobre-nosotros span {
  border-left: solid #fafafa 5px; 
  padding-left: 20px; 
}

.nombre-cabaña-sobre-nosotros{
  font-family: "Sedan";
  margin-top: 40px;
  text-align: center;
  font-size: 30px;
  padding: 30px;
  color: #505050;
}
.text-nosotros-centrado{
  display: flex;
  justify-content: center;
}
.parrafo-nosotros{
  color: #505050;
  font-size: 20px;
  width: 900px;
  text-align: start;
  height: 300px;
  font-family: "Sedan SC";
  line-height: 2;
}
.ubicacion-container{
  display: flex;
  justify-content: center;
}
.ubicacion{
  border-top: solid black 6px;
}
.ubicacion-container iframe {
  margin-top: 5px;
  border-radius: 0px 0px 0px 30px;
}
.info-adicional-ubicacion img{
  width: 500px;
  height: auto;
border-radius: 0px 30px 0px 0px;
}
.info-adicional-ubicacion{
 margin-left: 30px; 
}
.info-adicional-ubicacion H2{
  color: #873636;
  font-family: "Sedan SC";
}
.info-adicional-ubicacion p{
  width: 400px;
  color: #505050;
  font-size: 20px;
  width: 400px;
  text-align: start;
  height: 300px;
  font-family: "Sedan SC";
  line-height: 1.5;
}
/*EQUIPO*/
.equipo{
  margin-top: -300px;
}
.footer-seccion{
  display: flex;
  justify-content: space-between;
  padding: 30px;
  background-color: #873636;
}
.equipo-card-container{
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.equipo-card { 
  padding: 10px;
  text-align: center;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
li{
  text-decoration: none;
  list-style: none;
}
.equipo-card img{
  width: 200px;
}
.img-footer{
  width: 30px;
  background-color: #f0f0f0;
  margin: 10px;
  padding: 5px 0px 5px 0px;
  border-radius: 100px;
}
.footer ul li{
  color: #f0f0f0;
}
.contacto-h3{
  margin-left: 30px;
  color: #f0f0f0;
  font-family: "Poppins";
}
.redes .footer li{
  padding: 15px;
  font-family: "Mulish";
}
.contacto-h3 h3{
  font-weight: 600;
}
.footer-ul-div{
  display: flex;
}
.footer-ul{
  display: flex;
  padding: 20px;
}
.footer-almoby h4{
  color: #505050;
margin-top: 10px;
  font-family: "Poppins";
}
.footer-almoby{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.footer-almoby img{
  margin-bottom: 20px;
  height: 50px;
  margin-left: 30px;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 1));
}